{% if author.avatar %}
  <img itemprop="image" src="{{ author.avatar }}" class="notepad-post-author-avatar medium-3 columns" alt="{{ author.name }}'s photo">
{% endif %}

<div class="author-info medium-9 columns">
  <h2 itemprop="name">
    <a href="/authors#author-{{ author.name | slugify }}" id="author-{{ author.name | slugify }}" class="author-link">
      {{ author.name }}
    </a>
  </h2>

  {% unless author.ex %}
    {% if author.description %}
      <p itemprop="description">{{ author.description }}</p>
    {% endif %}
  {% endunless %}

  <ul class="no-bullet author-social-links">
    {% if author.twitter %}
    <li>
      <a class="twitter-icon" href="http://www.twitter.com/{{ author.twitter }}" title="@{{ author.twitter }} Twitter">
        <svg class="icon">
          <use xlink:href="#twitter"></use>
        </svg>&nbsp;@{{ author.twitter }}
      </a>
    </li>
    {% endif %}

    {% if author.linkedin %}
    {% assign name = author.name | split: ' ' %}
    <li>
      <a class="linkedin-icon" href="{{ author.linkedin }}" title="{{ author.linkedin }} LinkedIn">
        <svg class="icon">
          <use xlink:href="#linkedin-square"></use>
        </svg>&nbsp;Meet {{ name.first }} on LinkedIn
      </a>
    </li>
    {% endif %}

    {% if author.github %}
    <li>
      <a class="github-icon" href="http://www.github.com/{{ author.github }}" title="@{{ author.github }} Github">
        <svg class="icon">
          <use xlink:href="#github"></use>
        </svg>&nbsp;{{ author.github }}
      </a>
    </li>
    {% endif %}
  </ul>
</div>